<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<include
        resource="org/springframework/boot/logging/logback/defaults.xml" />
 
    <appender name="console"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
         
    <appender name="sarFlowDashboardLogger"
                class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/sar_skyrack-core-backend.log</file>
        <rollingPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>./log/sar_skyrack-core-backend-%d{yyyy-MM-dd}-%i.log.zip
        </fileNamePattern>
        <cleanHistoryOnStart>true</cleanHistoryOnStart>
        <maxHistory>10</maxHistory>
        <maxFileSize>100MB</maxFileSize>
        <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder
                    class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level
                        %logger{50}.%M\(%line\) - %msg%n</pattern>
        </encoder>
    </appender>
        
     <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="sarFlowDashboardLogger" />
    </root>
    
    <logger name="org.springframework.web" level="WARN" additivity="false">
        <appender-ref ref="sarFlowDashboardLogger"/>
    </logger>
 
</configuration>

